<ion-content [fullscreen]="true">
  <ion-card>
    <img src="../../assets/icon/wish.png">
  </ion-card>

  <ion-card style="border: 5px solid#3c5aa6;">
    <img src="../../assets/icon/pokemons.jpg" style="border: 5px solid #fff;">

    <ion-row (click)="getPokemon()">
      <ion-col size="8">
        <img src="../../assets/icon/capturar.png" style="margin-top: 10px;">
      </ion-col>
  
      <ion-col size="4">
        <img src="../../assets/icon/pokebola.png">
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>
